/vendor
/node_modules
/public/build
/public/hot
/public/vendor
/.env
/storage/*.key
/storage/app/public/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/.git
/.github
/.vscode
/tests
/phpunit.xml
/readme.md
/README.md
/prd.md
/PRD_SC_Online_v3.md
/DOKUMENTASI_FLOW_BISNIS.md
/DEPLOY.md
/logs
/backups
/docker-compose*.yml
